﻿@model GuessingGame.Website.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h1>Guessing Game</h1>
<h2>@Model.Title</h2>
<div style="margin-top: 10px;">
    @Html.Raw(Model.ErrorMessage)
</div>


@if (Model.ShowNewGameSubbmision)
{
    <div id="newgamecontainer" style="margin-top: 30px;">
        @using (Html.BeginForm("Newgame", "Home", FormMethod.Post, new { @id = "newgameform", enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBoxFor(m => m.NewGameSubmision.NumSize)
                @Html.Label("amount of numbers")
            </div>
            <div>

                @Html.TextBoxFor(m => m.BirthDate)
                @Html.Label("birthdat: e.g. 01/01/1980")
            </div>
            <div>
                @Html.TextBoxFor(m => m.NewGameSubmision.Name)
                @Html.Label("name")
            </div>
            <button id="newgamesubmit">submit</button>
        }
    </div>
}

@if (Model.ShowGame)
{
    var playerInfo = string.Empty;
    if (Model.Player != null)
    {
        var name = string.IsNullOrWhiteSpace(Model.Player.Name) ? Model.Player.Name : "";
        var age = string.IsNullOrWhiteSpace(Model.Player.Age.ToString()) ? Model.Player.Age.ToString() : "";
        playerInfo = string.Format("{0}  {1}", name, age);
    }
    <div style="margin-top: 30px;">
        @playerInfo
    </div>
    <div style="margin-top: 30px;">
        <h3>Result</h3>
        <div><span>Cow = correct, chicken is incorrect</span></div>
        <div><span>With guesses: @Model.LastGuess, in no particular order</span></div>
        @for (var i = 0; i < Model.GameTurn.CorrectGuesses; i++)
        {
            <img height="20" width="20" src="~/images/cow.png" alt="cow"/>
        }
        @for (var i = 0; i < (Model.GameTurn.NumSize - Model.GameTurn.CorrectGuesses); i++)
        {
            <img height="20" width="20" src="~/images/chicken.png" alt="chicken"/>
        }
    </div>

    <div id="newturncontainer" style="margin-top: 40px;">
        @using (Html.BeginForm("NewTurn", "Home", FormMethod.Post, new {@id = "newturnform", enctype = "multipart/form-data"}))
        {
            @Html.HiddenFor(m => m.GameTurn.GameId)
            @Html.HiddenFor(m => m.GameTurn.PlayerId)
            @Html.HiddenFor(m => m.GameTurn.NumSize)
            for (var i = 0; i < Model.GameTurn.NumSize; i++)
            {
                @Html.TextBoxFor(m => m.GameTurnSubmission.Guesses, new {@style = "width:20px;", value = "", maxlength = 1})
            }
            <button id="newturnsubmit">submit</button>
        }
    </div>
}
@if (Model.ShowStats)
{
    <div>congratulations! you won the game!</div>
    <div>
        <h2>Game turn statistics for all 5 number games</h2>
        <table>
            <tr>
                <th>Numbers to guess</th>
                <th>Average</th>
                <th>Median</th>
                <th>Max</th>
                <th>Min</th>
            </tr>
            <tr>
                <td>@Model.TurnCountStatistics.NumTurns</td>
                <td>@Model.TurnCountStatistics.Average</td>
                <td>@Model.TurnCountStatistics.Median</td>
                <td>@Model.TurnCountStatistics.Max</td>
                <td>@Model.TurnCountStatistics.Min</td>
            </tr>
            @*others not implemented in website*@
        </table>
        
        <h2>Your Speed Statistics</h2>
        <table>
            <tr>
                <th>Average</th>
                <th>Median</th>
                <th>Max</th>
                <th>Min</th>
            </tr>
            <tr>
                <td>@Model.PlayerTurnSpeedStatistics.AvgTurnTime</td>
                <td>@Model.PlayerTurnSpeedStatistics.MedianTurnTime</td>
                <td>@Model.PlayerTurnSpeedStatistics.MaxTurnTime</td>
                <td>@Model.PlayerTurnSpeedStatistics.MinTurnTime</td>
            </tr>
            @*others not implemented in website*@
        </table>
    </div>

}

<div>
    <a href="@Url.Action("Index")" class="btn">home</a>
</div>


<script type="text/javascript">
    $("#newgamesubmit").click(function () {
        $("#newgameform").submit();
    });

    $("#newturnsubmit").click(function () {
        $("#newturnform").submit();
    });

    $(function () {
        $('.date-pick').datePicker();
    });
</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
